<!DOCTYPE html>
<html>
<head>
  <title>
      Был создан реферальный код
  </title>
  <style>
    .reset-button {{
      background-color: grey;
      color: white;
      padding: 10px 20px;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
    }}
  </style>
</head>
<body>
    <p>Был создан реферальный код по вашему запросу</p>
  
  <p>Код:</p>
  
  <p>{code}</p>
  
</body>
</html>
